.cover {
    width: calc(100% - (48px * 2));
    margin: 92px auto 0;
}

@media (max-width: 1050px) {
    .cover {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .cover {
        margin-top: 90px;
    }
}

@media (max-width: 320px) {
    .cover {
        margin-top: 66px;
    }
}