.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    background-color: #2a2c2f;
    color: #ffffff;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.clickable {
    transition: opacity 0.2s ease-in-out;
}

.clickable:hover {
    opacity: 0.8;
}

.header {
    width: calc(100% - (48px * 2));
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 770px) {
    .header {
        width: calc(100% - (24px * 2));
    }
}

@media (max-width: 320px) {
    .header {
        width: calc(100% - (16px * 2));
        padding-top: 16px;
    }
}

.header__logo {
    background-image: url(../images/header-logo.svg);
    background-size: cover;
    width: 176px;
    height: 52px;
}

@media (max-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}

.header__lang-nav {
    padding: 20px 0 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

@media (max-width: 320px) {
    .header__lang-nav {
        padding-top: 14px;
        font-size: 18px;
        line-height: 20px;
    }
}

.header__lang-link {
    color: #fcfcfc;
    text-decoration: none;
}

.header__lang-link_chek {
    text-decoration: underline;
}

.lead {
    width: calc(100% - (148px * 2));
    margin: 56px auto 0;
}

@media (max-width: 1030px) {
    .lead {
        width: calc(100% - (48px * 2));
        margin-top: 48px;
    }
}

@media (max-width: 770px) {
    .lead {
        width: 100%;
    }
}

@media (max-width: 326px) {
    .lead {
        margin-top: 44px;
        width: 100%;
    }
}

.lead__title {
    margin: 0 auto;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media (max-width: 680px) {
    .lead__title {
        width: calc(100% - (16px * 2));
        font-size: 84px;
        line-height: 86px;
    }
}

@media (max-width: 620px) {
    .lead__title {
        font-size: 70px;
        line-height: 74px;
    }
}

@media (max-width: 522px) {
    .lead__title {
        font-size: 56px;
        line-height: 60px;
    }
}

@media (max-width: 424px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}

.lead__subtitle {
    max-width: 640px;
    margin: 32px auto 64px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media (max-width: 1030px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media (max-width: 620px) {
    .lead__subtitle {
        width: calc(100% - (25px * 2));
        margin: 16px auto 40px;
        font-size: 27px;
        line-height: 33px;
    }
}

@media (max-width: 491px) {
    .lead__subtitle {
        width: calc(100% - (20px * 2));
        font-size: 22px;
        line-height: 28px;
    }
}

@media (max-width: 400px) {
    .lead__subtitle {
        width: calc(100% - (16px * 2));
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 326px) {
    .lead__subtitle {
        width: calc(100% - (16px * 2));
        font-size: 16px;
        line-height: 20px;
    }
}

.lead__figure {
    margin: 0;
}

.lead__image {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

.lead__caption {
    padding-top: 5px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media (max-width: 770px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media (max-width: 326px) {
    .lead__caption {
        padding-left: 18px;
    }
}

.intro {
    width: calc(100% - (148px * 2));
    margin: 0 auto;
    padding: 92px 0 0;
}

@media (max-width: 1030px) {
    .intro {
        width: calc(100% - (48px * 2));
    }
}

@media (max-width: 768px) {
    .intro {
        width: calc(100% - (24px * 2));
        padding: 88px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        width: calc(100% - (16px * 2));
        padding: 68px 0 0;
    }
}

.intro__box {
    width: 690px;
}

@media screen and (max-width: 768px) {
    .intro__box {
        width: 100%;
    }
}

.intro__title {
    margin: 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media (max-width: 396px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}

.intro__text {
    margin: 40px 0 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.intro__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

.intro__span-list-item {
    font-weight: 400;
}

.photos {
    width: calc(100% - (48px * 2));
    margin: 92px auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}

@media (max-width: 768px) {
    .photos {
        width: calc(100% - (24px * 2));
        margin-top: 88px;
        margin-bottom: 88px;
    }
}

@media (max-width: 320px) {
    .photos {
        width: calc(100% - (16px * 2));
        margin-top: 64px;
        margin-bottom: 64px;
        gap: 12px;
    }
}

.photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 4/3;
}

.places {
    width: calc(100% - (148px * 2));
    margin: 92px auto 0;
}

@media (max-width: 1170px) {
    .places {
        width: calc(100% - (48px * 2));
    }
}

@media (max-width: 881px) {
    .places {
        width: calc(100% - (24px * 2));
        margin-top: 64px;
    }
}

@media (max-width: 700px) {
    .places {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .places {
        margin-top: 64px;
    }
}

.place {
    display: grid;
    grid-template-areas:
        "title website"
        "image paragraphs";
    grid-template-columns: 460px 1fr;
    row-gap: 48px;
    column-gap: 40px;
    padding-bottom: 80px;
}

@media (max-width: 1131px) {
    .place {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media (max-width: 983px) {
    .place {
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
        padding-bottom: 73px;
    }
}

@media (max-width: 700px) {
    .place {
        grid-template-areas:
            "title"
            "website"
            "image"
            "paragraphs";
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
}

@media (max-width: 400px) {
    .place {
        padding-bottom: 50px;
    }
}

.place:last-child {
    padding-bottom: 0;
}

.place__title {
    grid-area: title;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

@media (max-width: 983px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 768px) {
    .place__title:first-child {
        padding-right: 11px;
    }
}

@media (max-width: 700px) {
    .place__title {
        padding: 0 16px;
    }
}

@media (max-width: 400px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
}

.place__website {
    grid-area: website;
    align-self: end;
}

@media (max-width: 700px) {
    .place__website {
        padding: 0 16px;
    }
}

.place__website-text {
    margin: 0;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
}

.place__website-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #ffffff;
}

.place__image {
    grid-area: image;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.place__paragraphs {
    grid-area: paragraphs;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}
@media (max-width: 983px) {
    .place__paragraphs {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 700px) {
    .place__paragraphs {
        padding: 0 16px;
    }
}

.place__paragraph {
    margin: 0 0 26px;
}

.place__paragraph:last-of-type {
    margin: 0;
}


@media (max-width: 983px) {
    .place__paragraph {
        margin-bottom: 25px;
    }
}

.cover {
    width: calc(100% - (48px * 2));
    margin: 92px auto 0;
    background-image: url(../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

@media (max-width: 1050px) {
    .cover {
        width: 100%;
    }    
}

@media (max-width: 800px) {
    .cover {
        margin-top: 90px;
        
    }    
}

@media (max-width: 320px) {
    .cover {
        margin-top: 66px; 
    }    
}

.cover::before {
    content: "";
    position: absolute;
    background: #2a2c2f;
    opacity: 0.3;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.5s ease-in;
}

.cover:hover::before {
    opacity: 0.8;
}

.cover__item {
    width: calc(560px * 100 / 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 245px 312px;
    text-align: center;    
}

@media (max-width: 1097px) {
    .cover__item {
        padding: 195px 232px;
    }
}

@media (max-width: 841px) {
    .cover__item {
        padding: 115px 104px;
    }
}

@media (max-width: 693px) {
    .cover__item {
        padding: 55px 30px;
    }
}

@media (max-width: 525px) {
    .cover__item {
        padding: 33px 16px;
    }
}

.cover__link {
    text-decoration: none;
    color: #fcfcfc;
}

.cover__title {
    max-width: 560px;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    z-index: 1;
}

@media (max-width: 700px) {
    .cover__title {
        font-size: 52px;
line-height: 55px;
    }
}

@media (max-width: 425px) {
    .cover__title {
        font-size: 32px;
line-height: 35px;
    }
}

.cover__subtitle {
    max-width: 360px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    z-index: 2;
}

@media (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
line-height: 16px;
    }
}

.footer {
    width: calc(100% - (48px * 2));
    margin: 92px auto 24px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer {
        width: calc(100% - (24px * 2));
        margin-top: 88px;
    }
} 

@media (max-width: 680px) {
    .footer {
        width: calc(100% - (16px + 118px));
        margin-top: 64px;
        margin-left: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 18px;    
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
   
}

 @media (max-width: 680px) {
    .footer__list {
        flex-direction: column;
        gap: 32px; 
        font-size: 24px;
line-height: 24px;
    }
}  

.footer__link {
    text-decoration: none;
    color: #ffffff; 

}
.footer__copyright {
    margin: 0;
    font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: right;
}
